*{
    margin: 0;
    padding: 0;
}

/****** GENERAL *******/
body{
   background-color: #f9f9fa; 
   font-family: 'Cabin', sans-serif!important;
}
.card{
    max-width: 340px;  
    margin: 4px;
}
.form-card{
    background-color: #fff;
    padding: 4%;
    padding-bottom: 6%;
   box-shadow: 1px 1px 20px -6px black;
}
h2{
    font-size: 3em;
}
.btn{
    border-radius: 0%;
}
.header{
    background-color: #2a2a2a;   
}

.container{
    max-width: 1440px;
}

.form-control{
    box-shadow: 0px 0px 3px 0px rgb(209, 209, 209);
}
.page-item.active .page-link{    
    background-color: #a6304e!important;
    color: #ffff;
    border-color: #a6304e;
}

 .page-link, .page-link:hover{
    color: #a6304e;
}
/******** BANNERS ********/
.simple{
    background-color: #a6304e;    
}

.banner{
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 600px;  

}
.banner h1{
    margin-top: 16%;       
    text-shadow: 2px 2px 5px #424242;
}
.centered{
    margin-left: 10%;  
}
.links{
    padding-top: 4%;
}
.links a{
    color: white;
    font-size: larger;
    text-decoration: none;
}

.links a:hover{
    color: rgb(15, 146, 163);
}

.col-md-3 .links{
    padding-top: 7%;
}
.dropdown-toggle, .dropdown-item{
    color: #fff!important;
}
.dropdown-item:hover, .btn-outline-danger:hover{
    background-color: #a6304e!important;
}
.btn-primary,.bg-danger, .bg-danger:hover, .btn-danger, .btn-danger:link, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-primary:visited{
    background-color: #a6304e!important;
    border-color: #a6304e;
    border-radius: 0;
    transition: background-color 1s ease;
    color: #fff!important;
}
.perfils{
    background-image: url('../images/perfils.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    width: 100%;
    height: 200px;
}
.card-body h5 a{
    text-decoration: none;
    color: black;    
}
.card-body h5 a:hover{
    color:rgb(15, 146, 163);   
}
.card-image a img:hover{
    opacity: 0.8;
}


/****** MODAL INICIO SESION *****/
.modal-content{
    margin-top: 30%;
}
.modal-body{
    padding: 10%;
}

/******* Formulario de registro Vendedor **********/
.form-control{
    border-radius: 0px;;
}
.register-form{
    background-color: rgb(15, 146, 163);    
}
.set-bg{
    width: 100%;  
    background-image: url('../images/starwars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.field-is-invalid {
    background-color: crimson !important;
    color: #fff;
}

.success-seller-signup{
    background-color: #049233;
    color: #fff;
}
/* FOOTER */

.bg-color{
    background-color: #a6304e;
    width: 100%;
    height: 100px;
    margin: 0 auto;    
}
/*ICONOS REDES SOCIALES*/
.social-icons a{
    font-size: 30px;
    padding-left: 4%!important;
    color: #f9f9fa;
}
.footer-section {
    border-top: 3px solid rgb(15, 146, 163);
}

.footer-warp {
    max-width: 1559px;
    padding: 0 15px;
    margin: 0 auto;
}

.widget-item {
    width: 20%;
    padding: 0 15px;
}

.widget-item h4 {
    margin-bottom: 30px;
    color: #ffff;
}

.widget-item ul {
    list-style: none;
    padding-top: 30px;
}

.widget-item ul li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
}

.widget-item ul li:last-child {
    margin-bottom: 0;
}

.widget-item ul a {
    color: #878787;
}

.widget-item ul.contact-list li {
    margin-bottom: 27px;
    position: relative;
   
}

.widget-item ul{
    padding-left: 0!important;
}

.widget-item ul.contact-list li:last-child {
    margin-bottom: 0;
}

.widget-item ul.contact-list li:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    left: -5px;
    top: 6px;
    border-radius: 50%;
    background: #d82a4e;
}

.footer-newslatter {
    padding-right: 38px;
}

.footer-newslatter input[type=email] {
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    background: #edf4f6;
}

.footer-newslatter .site-btn {
    min-width: 143px;
    margin-bottom: 20px;
}

.footer-newslatter p {
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
}

.footer-bottom {
    overflow: hidden;
    background: #edf4f6;
    padding: 20px 0;
    
}

.footer-menu {
    list-style: none;
    float: right;
}

.footer-menu li {
    display: inline;
}

.footer-menu li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

.footer-menu li:last-child a:after {
    display: none;
}

.footer-menu li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

.footer-menu li a:after {
    position: absolute;
    content: "|";
    right: 0;
    top: 0;
}

.copyright {
    padding-top: 3px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}
.widget-item {
    width: 20%;
    padding: 0 15px;
}

.widget-item h4 {
    margin-bottom: 30px;
}

.widget-item ul {
    list-style: none;
    padding-top: 30px;
}

.widget-item ul li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
}

.widget-item ul li:last-child {
    margin-bottom: 0;
}

.widget-item ul a {
    color: #878787;
}

.widget-item ul.contact-list li {
    margin-bottom: 27px;
    position: relative;
    padding-left: 10px;
}

.widget-item ul.contact-list li:last-child {
    margin-bottom: 0;
}

.widget-item ul.contact-list li:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    left: -5px;
    top: 6px;
    border-radius: 50%;
    background: rgb(15, 146, 163);;
}
.footer-top{
    background-color: #2a2a2a;
}
.footer-section{
    padding:0!important;
}
@media screen and (min-width: 1366px) {
    .img-fluid{
        height: 190px;
    }
}
@media screen and (min-width:768px){
    .header{   
        text-align: center;
    }    
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widget-item {
        width: 33.3333%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .widget-item {
        width: 50%;
        margin-bottom: 50px;
    }   
}
@media only screen and (max-width: 576px) {
    .widget-item {
        width: 100%;
        margin-bottom: 50px;
    }
}